.links a {
    color: black;
    position: relative;
    font-weight: 500;
}

.links a:after {
    content: "";
    position: absolute;
    background-color: #ff3c3c;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.links a:hover::after {
    width: 100%;
}